
div{
    background-color: #f9f9f9;
    border-radius: 8px;

}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}



.form-login{


    display: flex;
    flex-direction: column;
    
}

/* Estilos para las etiquetas */
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}


/* Estilos para los campos de entrada */
input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Asegúrate de que los inputs ocupen todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

/* Estilos para el botón de inicio de sesión */
button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para los mensajes de error */
p {
    margin: 10px 0;
    font-size: 14px;
}


/* Estilos para los botones de redes sociales */
.media {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.media button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-button {
    background-color: #db4437;
    color: white;
}

.google-button:hover {
    background-color: #c13526;
}

.twitter-button {
    background-color: #1da1f2;
    color: white;
}

.twitter-button:hover {
    background-color: #0d95e8;
}

.github-button {
    background-color: #333;
    color: white;
}

.github-button:hover {
    background-color: #444;
}

.facebook-button {
    background-color: #4267b2;
    color: white;
}

.facebook-button:hover {
    background-color: #365e9e;
}


.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px; /* Espacio para el icono */
}

.password-toggle {
    position: absolute;
    right: 0; /* Ajusta este valor según sea necesario */
    top: 55%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}